@section scripts{
    @Scripts.Render("~/bundles/autosize")
    @Scripts.Render("~/bundles/order.ui")
    @Scripts.Render("~/bundles/order")
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Product Cart</h4>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-shopping productTable">
                                <thead>
                                    <tr>
                                        <th class="text-center productImg"></th>
                                        <th class="profile">Profile</th>
                                        <th class="th-description item">Item</th>
                                        <th class="th-description color">Top</th>
                                        <th class="th-description color">Bottom</th>
                                        <th class="th-description description">Description</th>
                                        <th class="text-right price">Price</th>
                                        <th class="text-right qty">Qty</th>
                                        <th class="text-right amount">Amount</th>
                                        <th class="remove"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko foreach: products -->
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../Content/Images/furniture1.jpg" />
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            @*<a href="#jacket">Spring Jacket</a>
                                                <br>
                                                <small>by Dolce&amp;Gabbana</small>*@
                                            <div class="select">
                                                <select class="form-control">
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                </select>
                                                <span class="material-input"></span>
                                                <img src="~/Content/Icons/ic_keyboard_arrow_down_black_24px.svg" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="select">
                                                <select class="form-control">
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                </select>
                                                <span class="material-input"></span>
                                                <img src="~/Content/Icons/ic_keyboard_arrow_down_black_24px.svg" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="select">
                                                <select class="form-control">
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                </select>
                                                <span class="material-input"></span>
                                                <img src="~/Content/Icons/ic_keyboard_arrow_down_black_24px.svg" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="select">
                                                <select class="form-control">
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Yellow</option>
                                                </select>
                                                <span class="material-input"></span>
                                                <img src="~/Content/Icons/ic_keyboard_arrow_down_black_24px.svg" />
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            <textarea class="descriptionText form-control"></textarea>
                                        </td>
                                        <td class="td-number text-right">
                                            <div class="form-group">
                                                <small>€</small>549
                                            </div>
                                        </td>
                                        <td class="td-number">
                                            <div class="form-group">
                                                1
                                                <div class="btn-group">
                                                    <button class="btn btn-round btn-info btn-xs">
                                                        <img class="removeAddImg" src="~/Content/Icons/ic_remove_white_24px.svg" /><div class="ripple-container"></div>
                                                    </button>
                                                    <button class="btn btn-round btn-info btn-xs"> <img class="removeAddImg" src="~/Content/Icons/ic_add_white_24px.svg" /> <div class="ripple-container"></div></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td-number">
                                            <div class="form-group">
                                                <small>€</small>549
                                            </div>
                                        </td>
                                        <td class="td-actions">
                                            <div class="form-group">
                                                <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-simple" data-original-title="Remove item">
                                                    <img class="removeAddImg grey" src="~/Content/Icons/ic_clear_black_24px.svg" />
                                                    <div class="ripple-container"></div>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <tr>
                                        <td colspan="7"></td>
                                        <td class="td-total">
                                            Total
                                        </td>
                                        <td colspan="1" class="td-price">
                                            <small>€</small>2,346
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8"></td>
                                        <td colspan="2" class="text-right">
                                            <button type="button" class="btn btn-round addProduct" data-bind="click: addProduct">Add Product</button>
                                            <button type="button" class="btn btn-info btn-round">Complete Order <img class="completeImg" src="~/Content/Icons/ic_keyboard_arrow_right_white_24px.svg" /></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
