.addProduct {
    margin-top: 20px;
}

.btn-group, .btn-group-vertical {
    margin: 0;
}

.productTable td {
    vertical-align: top !important;
}

.productRow td {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.removeAddImg, .completeImg {
    width: 17px !important;
}

.grey {
    opacity: .65;
}

.table-shopping .td-name {
    min-width: initial;
}

.table .th-description {
    max-width: initial;
}

.productTable .form-control, .productTable .form-group .form-control {
    border: 0;
    background-image: none;
    background-size: 0;
}

.productTable textarea {
    width: 100%;
    max-width: 100%;
}

.productImg {
    width: 15%;
    max-width: 15% !important;
    min-width: 0 !important;
}

.profile {
     width: 10%;
    max-width: 10% !important;
    min-width: 0 !important;
}

.item {
    width: 10%;
    max-width: 10% !important;
    min-width: 0 !important;
}

.color {
     width: 10%;
    max-width: 10% !important;
    min-width: 0 !important;
}

.description {
     width: 40%;
    max-width: 40% !important;
    min-width: 0 !important;
    color: rgba(0,0,0, 0.87);
}

.price {
    /*width: 5%;
    max-width: 5% !important;*/
    min-width: 0 !important;
}

.qty {
    /*width: 5%;
    max-width: 5% !important;*/
    min-width: 8em !important;
}

.amount {
    /*width: 5%;
    max-width: 5% !important;*/
    min-width: 0 !important;
}

.remove {
    width: 5%;
    max-width: 5% !important;
    min-width: 0 !important;
}

.select {
    position: relative;
    cursor: pointer;
}

select option {
    cursor: pointer;
}

.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
}

.select img {
    position: absolute;
    width: 22.5px;
    opacity: .65;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease-out;
    cursor: pointer;
}

.select:hover img {
    opacity: .65;
}

.descriptionText {
}
